[flake8]
# We don't care about type annotations for:
# *args, **kwargs, self, or cls
ignore = ANN002,ANN003,ANN101,ANN102
exclude =
    .git,
    .venv
    __pycache__,
    old,
    build,
    dist
max-complexity = 10